<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias="Song" type="com.yuhui.crawler.model.Song"/>
        <typeAlias alias="PlayList" type="com.yuhui.crawler.model.PlayList"/>
        <typeAlias alias="WebPage" type="com.yuhui.crawler.model.WebPage"/>
    </typeAliases>
     <plugins>
    	    <plugin interceptor="com.github.pagehelper.PageHelper">
      		<property name="dialect" value="mysql"/>
    		</plugin>
  	</plugins>

</configuration>